<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
    <link rel="stylesheet" href="./css/styles.css"></link>
</head>
<body>
    <div class="main-content">
        {{>header}}
    </div>
    <p>paragraph</p>
    {{>footer}}
</body>
</html>