<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link rel="stylesheet" href="/css/styles.css"></link>
    <script src="/js/app.js"></script>
</head>
<body>
    {{>header}}
    <h1>{{title}}</h1>
    <p>Created by: {{name}}</p>
    {{>footer}}
</body>
</html>